@model TMS.Web.Models.Layout.LanguageSelectionViewModel
@using TMS;

<a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="mdi mdi-earth mdi-24px"></i> </a>
<ul class="dropdown-menu pull-right Language">
    @foreach (var language in Model.Languagess)
    {
        if (language.Name != CultureHelper.GetCurrentCulture())
        {
            <li><a href="@Url.Action("ChangeCulture", "Layout")?cultureName=@(language.Name)&returnUrl=@(Request.Url)"><i class="@language.Icon"></i> @language.DisplayName</a></li>
        }
        else
        {
            <li class="disabled"><a class="not-active" href="@Url.Action("ChangeCulture", "Layout")?cultureName=@(language.Name)&returnUrl=@(Request.Url)"><i class="@language.Icon"></i> @language.DisplayName</a></li>

        }
    }
</ul>