@model TMS.Library.Entities.Common.Configuration.CourseMaterials
@using lr = Resources.Resources

<div class="Alertbox alert alert-danger" style="display:none">
    <ul class="errors"></ul>
</div>
<input type="hidden" id="modelid" value="@Model.ID">
<div class="form-horizontal form-person-popup">
    <div class="form-group">
        @Html.LabelFor(model => model.PrimaryMaterial, new { @class = "col-md-3 col-lg-3 control-label" })
        <div class="col-md-7 col-lg-7 col-sm-11">
            @(Html.Kendo().TextBoxFor(c => c.PrimaryMaterial).HtmlAttributes(new { @class = "form-control ", style = "width:100%" }))
            @Html.ValidationMessageFor(model => model.PrimaryMaterial)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SecondaryMaterial, new { @class = "col-md-3 col-lg-3 control-label" })
        <div class="col-md-7 col-lg-7 col-sm-11">
            @(Html.Kendo().TextBoxFor(c => c.SecondaryMaterial).HtmlAttributes(new { @class = "form-control ", style = "width:100%" }))
            @Html.ValidationMessageFor(model => model.SecondaryMaterial)
        </div>
    </div>
</div>
