@{
    string AvatarUrl = "";
    if (string.IsNullOrEmpty(CurrentUser.ProfileImage))
    {
        AvatarUrl = Url.Content("~/images/i/people.png");
    }
    else
    {
        AvatarUrl = Url.Content(CurrentUser.ProfileImage);
    }
    string Username="";
    if(IsP){Username=CurrentUser.Name; }else{Username=CurrentUser.GivenName;}
}
<div class="header">
  
    @*<div class="logo hidden-sm hidden-xs">
        <div class="">
            <a href="" class="">
                <img src="@Url.Content("~/Content/Shamcey/images/logo.png")" alt="" />
            </a>
        </div>
    </div>*@
    <div class="headerinner" style="">
        <ul class="headmenu">
            <li class="odd">
                <a class="dropdown-toggle Outmenu" data-toggle="dropdown" role="menuitem">

                    <span class="mdi mdi-apps menu-icon"></span>
                    <span class="headmenu-label">My Apps</span>
                </a>
               
            </li>
            <li class="">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="count">4</span>
                    <span class="fa fa-bell-o menu-icon"></span>
                    <span class="headmenu-label">Alerts</span>
                </a>
                <ul class="dropdown-menu transparent">
                    <li class="nav-header">Alerts</li>
                    <li><a href=""><span class="glyphicon glyphicon-envelope"></span> New message from <strong>Jack</strong> <small class="muted"> - 19 hours ago</small></a></li>
                    <li><a href=""><span class="glyphicon glyphicon-envelope"></span> New message from <strong>Daniel</strong> <small class="muted"> - 2 days ago</small></a></li>
                    <li><a href=""><span class="glyphicon glyphicon-envelope"></span> New message from <strong>Jane</strong> <small class="muted"> - 3 days ago</small></a></li>
                    <li><a href=""><span class="glyphicon glyphicon-envelope"></span> New message from <strong>Tanya</strong> <small class="muted"> - 1 week ago</small></a></li>
                    <li><a href=""><span class="glyphicon glyphicon-envelope"></span> New message from <strong>Lee</strong> <small class="muted"> - 1 week ago</small></a></li>
                    <li class="viewmore"><a href="messages.html">View More Messages</a></li>
                </ul>
            </li>
        
            <li class="odd">
                <a class="dropdown-toggle" data-toggle="dropdown"  data-target="#">
                    <span class="fa fa-bar-chart menu-icon"></span>
                    <span class="headmenu-label">Reports</span>
                </a>
                <ul class="dropdown-menu">
                    @*<li class="nav-header">Test Work</li>*@
@if (User.IsInRole("CanViewReports"))
{
                    <li><a href="@Url.Content("~/Program/VenueMatrixReport")"><span class="fa fa-bar-chart"></span> <strong>Venue Matrix Report</strong> </a></li>

                    <li><a href="@Url.Content("~/Program/TrainerDetailReport")"><span class="fa fa-bar-chart"></span> <strong>Trainer Detail Report</strong> </a></li>
                   <li><a href="@Url.Content("~/Program/TraineeDetailReport")"><span class="fa fa-bar-chart"></span> <strong>Trainee Detail Report</strong></a></li>
                    <li><a href="@Url.Content("~/Program/ClassDetailReport")"><span class="fa fa-bar-chart"></span> <strong>Class Detail Report</strong></a></li>
                    <li><a href="@Url.Content("~/Program/CourseAttendanceReport")"><span class="fa fa-bar-chart"></span> <strong>Course Attendance Report</strong> </a></li>
                    <li><a href="@Url.Content("~/Program/VenueDetailReport")"><span class="fa fa-bar-chart"></span> <strong>Venue Detail Report</strong> </a></li>
                    <li><a href="@Url.Content("~/Program/OccupancyVenueReport")"><span class="fa fa-bar-chart"></span> <strong>Occupancy Venue Report</strong> </a></li>
                    <li><a href="@Url.Content("~/Program/Attendance")"><span class="fa fa-bar-chart"></span> <strong>Weekly Attendance Report</strong> </a></li>
                    <li><a href="@Url.Content("~/Program/ClassReportFuture")"><span class="fa fa-bar-chart"></span> <strong>Class Schedule List Future</strong> </a></li>
                    <li><a href="@Url.Content("~/Program/ClassSchedule")"><span class="fa fa-bar-chart"></span> <strong>Class Schedule List Current</strong> </a></li>
                    <li><a href="@Url.Content("~/Program/VenueDetailUtilizationReport")"><span class="fa fa-bar-chart"></span> <strong>Venue Detail Utilization Report</strong> </a></li>
                    <li><a href="@Url.Content("~/Program/WeeklySummeryReport")"><span class="fa fa-bar-chart"></span> <strong>Weekly Utilization Report</strong> </a></li>
                    <li><a href="@Url.Content("~/Program/VenueDailyUtilizationReport")"><span class="fa fa-bar-chart"></span> <strong>Venue Daily Utilization Report</strong> </a></li>
                    <li><a href="@Url.Content("~/Program/TraineePeriodicReport")"><span class="fa fa-bar-chart"></span> <strong>Trainee Periodic Report</strong> </a></li>
                    <li><a href="@Url.Content("~/Program/CoursePeriodicReport")"><span class="fa fa-bar-chart"></span> <strong>Course Periodic Report</strong> </a></li>
                    <li><a href="@Url.Content("~/Program/Schedules")"><span class="fa fa-bar-chart"></span> <strong>Schedule</strong> </a></li>
}


                    @*<li><a href="@Url.Content("~/Task/Index")"><span class="fa fa-calendar"></span>  <strong>Task</strong> <label class="muted"> - TMS Page</label></a></li>
                    <li><a href="@Url.Content("~/Prospect/Index")"><span class="fa fa-th-list"></span> <strong>Prospect</strong> <label class="muted"> - TMS Page(Working...)</label></a></li>
                    <li><a href="@Url.Content("~/Task/ThirdReporting")"><span class="fa fa-bar-chart"></span> <strong>Sample Report 001</strong> <label class="muted"> - Sample Report</label></a></li>
                    <li><a href="@Url.Content("~/Task/TraineeDetailReport")"><span class="fa fa-bar-chart"></span> <strong>Trainee Detail Report</strong> <label class="muted"> - TMS Report</label></a></li>
                    <li><a href="@Url.Content("~/Task/ClassDetailReport")"><span class="fa fa-bar-chart"></span> <strong>Class Detail Report</strong> <label class="muted"> - TMS Report</label></a></li>
                    <li><a href="@Url.Content("~/Task/TrainerDetailReport")"><span class="fa fa-bar-chart"></span> <strong>Trainer Detail Report</strong> <label class="muted"> - TMS Report</label></a></li>
                    <li><a href="@Url.Content("~/Views/Shared/Static/TrainerDetailReport.aspx")"><span class="fa fa-bar-chart"></span> <strong>Trainer Detail Report</strong> <label class="muted"> - TMS Report</label></a></li>

                   
                     <li><a href="@Url.Content("~/Task/SampleTrainarDetailReport")"><span class="fa fa-bar-chart"></span> <strong>Sample Trainer Detail Report</strong> <label class="muted"> - TMS Report(Working...)</label></a></li>
                    <li><a href="@Url.Content("~/Task/InvoiceReport")"><span class="fa fa-bar-chart"></span> <strong>Invoice Report</strong> <label class="muted"> - Sample Report</label></a></li>
                    <li><a href="@Url.Content("~/Task/SalesOrderDetailReport")"><span class="fa fa-bar-chart"></span> <strong>Sales Order Report</strong> <label class="muted"> - Sample Report</label></a></li>
                    <li><a href="@Url.Content("~/Task/ReportCatalog")"><span class="fa fa-bar-chart"></span> <strong>Report Catalog</strong> <label class="muted"> - Sample Report</label></a></li>
                    <li><a href="@Url.Content("~/Task/EmployeeSalesSummaryReport")"><span class="fa fa-bar-chart"></span> <strong>Employee Sales Summary Report</strong> <label class="muted"> - Sample Report</label></a></li>
                    <li><a href="@Url.Content("~/Task/ListBoundReport")"><span class="fa fa-bar-chart"></span> <strong>List Bound Report</strong> <label class="muted"> - Sample Report</label></a></li>
                    <li><a href="~/Views/Report/Pages/TrainerDetailReport.aspx">Trainer Report</a></li>*@
                </ul>
                
            </li>
            
            <li class=" right hidden-xs ">
                <a class="userprofilepicture" data-toggle="dropdown" data-target="#" style="padding-bottom:0px">
                    <img src="@AvatarUrl" class="no-thumb" alt="avatar not found">
                </a>
            </li>
          
            <li class="right hidden-xs ">
                <div class="userloggedinfo">
                    <div class="userinfo">
                        <h4>@Username </h4>
                        <p>@CurrentUser.Email</p>
                    </div>
                </div>
            </li>
            <li class="right hidden-lg hidden-md hidden-sm">
                <div class="userloggedinfo">
                    <img src="@AvatarUrl" class="no-thumb" alt="avatar not found" />
                </div>
            </li>
        </ul>
    </div>
</div>
@Html.Partial("Static/_HeaderOutlookMenu")