@using System.Web.Optimization
@using TMS;
@{
    SetAntiForgeryCookie();
    Layout = null;
}
<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()" dir="@(CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TMS</title>

    <link rel="stylesheet" href="@Url.Content("~/Content/Shamcey/css/style.default.css")" type="text/css" />
    @Styles.Render("~/Content/vendor")
    @Styles.Render("~/Bundles/css")

    <link href="@Url.Content("~/Content/flags/css/flag-icon.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/css/Nav/Custommenu.css")" rel="stylesheet" />
    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
</script>
    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    

    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->

    @Scripts.Render("~/Bundles/vendor/js/top")


    <link href="~/Content/kendo/2018.1.117/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2018.1.117/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2018.1.117/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2018.1.117/kendo.flat.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2018.1.117/kendo.dataviz.flat.min.css" rel="stylesheet" />
    @RenderSection("ReportingStyles", required: false)
    <script src="~/Scripts/kendo/2018.1.117/jquery.min.js"></script>
    <script src="~/Scripts/kendo/2018.1.117/jszip.min.js"></script>
    <script src="~/Scripts/kendo/2018.1.117/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2018.1.117/kendo.aspnetmvc.min.js"></script>
        @RenderSection("ReportingScripts", required: false)
        <link href="@Url.Content("~/Content/kendo/2018.1.117/kendo.common-fiori.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2018.1.117/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2018.1.117/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2018.1.117/kendo.fiori.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2018.1.117/kendo.dataviz.fiori.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2018.1.117/kendo.rtl.min.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <link href="@Url.Content("~/css/materialdesignicons.min.css")" media="all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/jquery-confirm/jquery-confirm.min.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Content/Simplebar/jquery.nicescroll.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2018.1.117/cultures/kendo.culture." + CurrentCulture + ".min.js")"></script>

    <script type="text/javascript">
        kendo.culture("@CurrentCulture");
    </script>
    @if (CultureHelper.IsRighToLeft())
    {
        <link href="@Url.Content("~/Content/Shamcey/css/lang-AR.css")" rel="stylesheet" type="text/css" id="rtl_ltr_b1" />
        <link href="@Url.Content("~/css/langRTL.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/kendo/2018.1.117/kendo.rtl.min.css")" rel="stylesheet" />
    }
    else
    {
        <link href="@Url.Content("~/css/langLTR.css")" rel="stylesheet" />
    }
    <link href="@Url.Content("~/css/custom.css")" rel="stylesheet" />
    @if (!string.IsNullOrEmpty(CurrentUser.Theme))
    {
        if (CurrentUser.Theme == "default") { }
        else
        {
            <link id="skinstyle" rel="stylesheet" href="@Url.Content("~/Content/Shamcey/css/style." + CurrentUser.Theme + ".css?v=" + TMSHelper.GetConfigurationValue("SiteVersion"))" type="text/css" />
        }
    }
    <style>
        body {
            background: none;
        }
    </style>
</head>
<body  class="@(CultureHelper.IsRighToLeft() ? "lang-AR k-rtl" : "lang-EN") wrap">
    <div>
        @Html.Partial("Static/_Header")

        <div class="mainpanel">
            @Html.Partial("Static/_PageHeader")
            <div class="maincontent">
                <div class="maincontentinner">
                    <div class="row tms-row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class=" col-md-offset-1 col-md-10">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--maincontentinner-->
            </div><!--maincontent-->
        </div><!--rightpanel-->
    </div>

    <script src="@Url.Content("~/Content/Shamcey/js/jquery-migrate-1.2.1.min.js")"></script>
    <script src="@Url.Content("~/Content/Shamcey/js/jquery-ui-1.10.3.min.js")"></script>
    <script src="@Url.Content("~/Content/Shamcey/js/bootstrap.min.js")"></script>


    @Scripts.Render("~/Bundles/vendor/js/bottom")
    @Scripts.Render("~/Bundles/js")

    <script >
        
        jQuery(document).ready(function () {
            jQuery("a.Outmenu").click(function (event) {
                event.stopPropagation();
                jQuery('#outlookid').slideToggle(100);
            });

            jQuery('body').click(function () {
                jQuery('#outlookid').slideUp(100);
            });
            /// Right Sidbar
            jQuery('body.lang-AR .headmenu .Outmenu').click(function (e) {
                //  e.stopPropagation();
                jQuery("#outlookid").dropdown('toggle');// this doesn't

            });
        });
    </script>

    <script src="@Url.Content("~/Content/Shamcey/js/jquery.cookies.js")"></script>

    <script src="@Url.Content("~/Scripts/required.js")"></script>

    @Html.Partial("Static/_templates")
    @RenderSection("scripts", required: false)

</body>
</html>
