@using lr = Resources.Resources;
@model List<TMS.Library.Entities.CRM.CRM_PersonEnrolment>




<div class="ChildGrid">
 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
  
    <table class="table table-striped jsprospects" id="tbl">
        <thead>
            <tr>

                <th>
                    Full Name

                </th>
                <th>
                    Assigned To
                </th>
                <th>
                    Assigned By
                </th>
                <th>
                    Created By
                </th>
                <th>

                  


                    select
                </th>

            </tr>
        </thead>

        <tbody>
          
            @*@foreach (var item in Model)
            {
                var value = item.PersonID + "_" + item.UserID;
                <tr>

                    <td>
                        @Html.Raw(item.FullName)
                     
                    </td>
                    <td>
                        @Html.Raw(item.AssignedTo)
                      
                    </td>

                    <td>
                        @Html.Raw(item.AssignedBy)
                      

                    </td>
                    <td>
                        @Html.Raw(item.AddedByAlias)
                      
                    </td>
                    <td>
                        <input type="checkbox" name="rDprospect" id="rDprospect_@item.PersonID" value="@value" />
                      

                    </td>
                    <td>
                      

                    </td>


                </tr>
            }*@
            @*<tr>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td>

                        <input type="submit" id="btnsave" class="btn btn-primary" value="Save" />

                    </td>
                </tr>*@
        </tbody>

    </table>

    @*  }
        else {
             <div>No Record Found</div>
         }*@
    @*}*@
</div>

<style>
    th {
        background-color: #f2f2f2;
    }

    input.btn.btn-primary {
        float: right;
        height: 20px;
        width: 68px;
    }

    select#d_AttendanceType {
        height: 18px;
        max-width: 180px;
    }

    select.col-md-2.col-lg-2.form-control {
        height: 20px;
        width: 83%;
    }

    input[type="text"] {
        border: 0px;
        background-color: transparent;
    }

    input[type=checkbox] {
        display: inline-table;
    }
</style>


@*<script>
        jQuery("#btn").click(function () {
            jQuery.ajax({
                url: '/Program/ManageAttendance',
                success: function (data) {
                    jQuery("#tbl").html(data);
                }
            })
        })
    </script>*@




