@using lr = Resources.Resources;
@{
    ViewBag.Title = lr.MenuClass;
    Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";

}
<script>
    //Class
function ClassTemplate(data) {
    if (data !== null) {
        var ClassTemplate = kendo.template(jQuery("#ClassTemplate").html(), { useWithBlock: false });
        return ClassTemplate(data);
    }
    return '';
}
</script>
<h2>@lr.ClassTitle</h2>
@Html.AntiForgeryToken()
@(Html.Kendo().Grid<TMS.Library.Entities.TMS.Program.Classes>()
            .Name("ClassGrid")
    .Columns(columns =>
    {
        columns.Bound(e => e.PrimaryClassTitle).ClientTemplate("#=ClassTemplate(data)#");
        columns.Bound(e => e.AddedByAlias).ClientTemplate("#=addedbytemplate(data)#").Width(190).MinScreenWidth(550).Title(lr.GridAddedBy);
        columns.Bound(e => e.UpdatedByAlias).Width(170).Title(lr.ModifiedBy).
 ClientTemplate(@"<div class='gridupdated'> # if (UpdatedByAlias!=null) { #" + @"<span class='Addedby'>#=UpdatedByAlias# </span>
    <span class='date' >#=kendo.toString(UpdatedDate,'" + DateFormatScript + @"')#</span>
<span class='time' >#=kendo.toString(UpdatedDate,'" + TimeFormatScript + @"')#</span>
" + @"#} else {#<div>Not Modified</div> </div>#}#");
    }).Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("_ClassTemplate").DisplayDeleteConfirmation(false))
          .ToolBar(toolbar => toolbar.Template(@<text>@RenderAddTemplate()</text>))
     .Sortable().Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple))
     .Pageable(pager => pager.Refresh(true).Numeric(true).PreviousNext(true).PageSizes(true))
     .Scrollable()
     .Events(e => e.Edit("ClassGrid_onEdit").Save("General_onSave"))
     .HtmlAttributes(new { style = "height:700px !important;" })
     .DataSource(dataSource => dataSource.Ajax().ServerOperation(true).Model(model => { model.Id(m => m.ID); })
     .PageSize(5)
    .Read(read => read.Action("Class_Read", "Program").Data("withSearch"))
     .Create(read => read.Action("Class_Create", "Program"))
     .Destroy(read => read.Action("Class_Destroy", "Program"))
     .Update(read => read.Action("Class_Update", "Program"))
     .Events(e => e.Error("GeneralErrorHandler(\"ClassGrid\")").RequestEnd("GridRequestEndUpdate")))
     .NoRecords(lr.GridNoRecordFoundMessage)
)
@helper RenderAddTemplate()
{
    <div class="toolbar">
        @if (User.IsInRole("CanAddEditClass"))
        {
            <a class="k-button tms-grid-add" title="" data-placement="left" data-toggle="tooltip" data-original-title="Tooltip on left">
                <span class="tms-grid-icon mdi mdi-plus "></span>
            </a>
            <a class="k-button tms-grid-edit"><span class="tms-grid-icon mdi mdi-pencil "></span></a>
        }
        @if (User.IsInRole("CanDeleteClass"))
        {
            <a class="k-button tms-grid-destroy"><span class="tms-grid-icon mdi mdi-delete "></span></a>
        }
        @if (User.IsInRole("CanViewClass"))
        {
            <a class="k-button tms-grid-detail-class"><span class="tms-grid-icon mdi mdi-open-in-new "></span></a>
        }
        @*@if (User.IsInRole("CanViewAttendanceReport"))
        {
            <a class="k-button tms-class-attendancereport"><span class="tms-grid-icon mdi mdi-chart-bar"></span></a>

        }
        @if (User.IsInRole("CanViewClassFeedBack"))
        {

            <a class="k-button tms-class-feedback"><span class="tms-grid-icon mdi mdi-comment-text-outline"></span></a>
        }*@
         
    </div>
}

<script id="toolTipTemplate" type="text/x-kendo-template">

    @if (User.IsInRole("CanAddEditClass"))
    {

        <span class="grid-tooltip-icon edit" dat-uid="#=uid#" title="Edit #=PrimaryClassTitle#"><i class="mdi mdi-pencil"></i></span>
    }
    @if (User.IsInRole("CanDeleteClass"))
    {
        <span class="grid-tooltip-icon delete" dat-uid="#=uid#" title="Delete"><i class="mdi mdi-delete"></i></span>
    }
    @if (User.IsInRole("CanViewClass"))
    {
        <span class="grid-tooltip-icon persondetail" dat-uid="#=ID#" title="See the detail of #=PrimaryClassTitle#"><i class="mdi mdi-open-in-new"></i></span>


    }
</script>

<script>
     jQuery(function () {
       // debugger;
        var template = kendo.template(jQuery("#toolTipTemplate").html());
        //initialize tooltip to grid tbody with filter cells with given CSS class
        var tooltip = jQuery("#ClassGrid tbody").kendoTooltip({
            position: "center",
            autoHide: false,
            filter: "td:nth-child(1)",
            showOn: "click",
            show: function (e) {
                //get current target row
                this.popup.element.addClass("tmstooltip");
                var currentRow = this.target().closest("tr");
                var grid = jQuery("#ClassGrid").data("kendoGrid");
                //get current row dataItem
                var dataItem = grid.dataItem(currentRow);

                //pass the dataItem to the template
                var generatedTemplate = template(dataItem);
                //set the generated template to the content of the tooltip
                this.content.html(generatedTemplate);
            },
        }).data("kendoTooltip");

        jQuery(".edit").live("mousedown", function (event) {
            //debugger;
            jQuery("#ClassGrid").data("kendoGrid").editRow(jQuery("[data-uid='" + jQuery(this).attr("dat-uid") + "']"));
        });

        jQuery(".delete").live("mousedown", function (event) {
            //debugger;
            grid = jQuery("#ClassGrid").data("kendoGrid");
            var selectedRows = jQuery("#ClassGrid tr.k-state-selected");
            var checkedLength = selectedRows.length;
            var checkedLength = selectedRows.length;
            if (checkedLength == 1) {
                var grid = jQuery("#ClassGrid").data("kendoGrid");
                var data = grid.dataItem(jQuery("[data-uid='" + jQuery(this).attr("dat-uid") + "']"));  //get the row data so it can be referred later

                swal({
                    title: '@lr.Areyousureyouwanttodeletethisrecord',
                    text: '@lr.Youwillnotbeabletorecover',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "@lr.confirmDelete",
                    cancelButtonText: "@lr.confirmNo",
                    closeOnConfirm: false,
                    closeOnCancel: true,
                    customClass: "tmsconfirm"
                },
                function (isConfirm) {
                    if (isConfirm) {
                        grid.removeRow(selectedRows);
                        swal({
                           title: '@lr.confirmDeleted',
                           text:  '@lr.confirmDeletedMessage',
                           type: "success"
                       },
                    function(){
                         window.location="@Url.Content("~/Program/Class")";
                        });
                   }
                });
            } else if (checkedLength > 1) {
                var grid = jQuery("#ClassGrid").data("kendoGrid");


                swal({
                    title: '@lr.Areyousureyouwanttodeletetheserecord',
                    text: '@lr.Youwillnotbeabletorecover' + ' <strong style="font-weight:bold">' + checkedLength + ' ' + '@lr.confirmRecords' + '</strong> ?',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "@lr.confirmDelete",
                    cancelButtonText: "@lr.confirmNo",
                    closeOnConfirm: false,
                    closeOnCancel: true,
                    html: true,
                    customClass: "tmsconfirm"
                },
              function (isConfirm) {
                  if (isConfirm) {
                      selectedRows.each(function () { grid.removeRow(jQuery(this)); });
                      swal({
                           title: '@lr.confirmDeleted',
                           text:  '@lr.confirmDeletedMessage',
                           type: "success"
                       },
                    function(){
                        window.location="@Url.Content("~/Program/Class")";
                        });
                   }
              });
            } else {

            }
        });



        //destroy from header
        jQuery(".tms-grid-destroyperson").live("mousedown", function (event) {
            var selectedRows = jQuery("#ClassGrid tr.k-state-selected");
            var checkedLength = selectedRows.length;
            var checkedLength = selectedRows.length;
            if (checkedLength == 1) {
                var grid = jQuery("#ClassGrid").data("kendoGrid");

                swal({
                    title: '@lr.Areyousureyouwanttodeletethisrecord',
                    text: '@lr.Youwillnotbeabletorecover',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "@lr.confirmDelete",
                    cancelButtonText: "@lr.confirmNo",
                    closeOnConfirm: false,
                    closeOnCancel: true,
                    customClass: "tmsconfirm"
                },
                function (isConfirm) {
                    if (isConfirm) {
                        grid.removeRow(selectedRows);
                        swal({
                           title: '@lr.confirmDeleted',
                           text:  '@lr.confirmDeletedMessage',
                           type: "success"
                       },
                    function(){
                        window.location="@Url.Content("~/Program/Class")";
                        });
                   }
                });
            } else if (checkedLength > 1) {
                var grid = jQuery("#ClassGrid").data("kendoGrid");

                swal({
                    title: '@lr.Areyousureyouwanttodeletetheserecord',
                    text: '@lr.Youwillnotbeabletorecover' + ' <strong style="font-weight:bold">' + checkedLength + ' ' + '@lr.confirmRecords' + '</strong> ?',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "@lr.confirmDelete",
                    cancelButtonText: "@lr.confirmNo",
                    closeOnConfirm: false,
                    closeOnCancel: true,
                    html: true,
                    customClass: "tmsconfirm"
                },
           function (isConfirm) {
               if (isConfirm) {
                   selectedRows.each(function () { grid.removeRow(jQuery(this)); });
                   swal({
                           title: '@lr.confirmDeleted',
                           text:  '@lr.confirmDeletedMessage',
                           type: "success"
                       },
                    function(){
                        window.location="@Url.Content("~/Program/Class")";
                    });
                   }
           });



            } else {

            }
        });


         jQuery(".persondetail").live("mousedown", function (event) {
             //debugger;
              var url = '@Url.Content("~/Program/ClassDetail?id=")' + jQuery(this).attr("dat-uid");
             window.open(url, '_blank');
         });

         jQuery(".tms-grid-detail").live("mousedown", function (event) {
             //debugger;
             var checkedLength = jQuery("#ClassGrid tr.k-state-selected").length;
             if (checkedLength == 1) {
                 grid = jQuery("#ClassGrid").data("kendoGrid");
                 var data = grid.dataItem(jQuery("#ClassGrid tr.k-state-selected"));
                 var url = '@Url.Content("~/Program/ClassDetail?id=")' + data.ID;
                 window.open(url, '_blank');
             } else {

             }

         });


    });
</script>



<script>
    var enumCourseDurationType =  @(Html.Raw(Json.Encode(TMS.Extensions.EnumToSelectList<TMS.Library.CourseDurationType>(typeof(TMS.Library.CourseDurationType)).ToList())));
    var enumClassType =  @(Html.Raw(Json.Encode(TMS.Extensions.EnumToSelectList<TMS.Library.ClassType>(typeof(TMS.Library.ClassType)).ToList())));
    var enumClassFeeCurrency =@Html.Action("CurrenciesData", "DDl");
</script>

<script id="ClassTemplate" type="text/kendo">
    <div class=''>
        <div class=''>
            <p>
                <label>
                   
                    Class Title
                </label>
                <span>
                    #:data.PrimaryClassTitle#
                </span>
            </p>
            <p>
                <label>
                    Class Name
                </label>
                <span class="heading">
                    #:data.ClassName#
                </span>
            </p>
            <p>
                <label>
                  Class Type
                </label>
                <span>
                    #:enumvalue(data.ClassTypeID,enumClassType)#
                </span>
            </p>
            <p>
                <label>
                   Course
                </label>
                <span>
                    #:data.CourseName#
                </span>
            </p>
            <p>
                <label>
                   Class Fee
                </label>
                <span>
                    #:data.ClassFee#  (#:enumvalue(data.FeeCurrency,enumClassFeeCurrency)#)
                </span>
            </p>
            <p>
                <label>
                   Class Dates
                </label>
                <label>
                    #=kendo.toString(data.StartDate, '@DateFormatScript')# - #=kendo.toString(data.EndDate, '@DateFormatScript')#
                </label>

            </p>
        </div>
    </div>
</script>
@section Scripts
{
    <script>

        jQuery(".tms-grid-detail-class").live("mousedown", function (event) {
            var checkedLength = jQuery("#ClassGrid tr.k-state-selected").length;
            if (checkedLength == 1) {
                grid = jQuery("#ClassGrid").data("kendoGrid");
                var data = grid.dataItem(jQuery("#ClassGrid tr.k-state-selected"));
                var url = '@Url.Content("~/Program/ClassDetail?id=")' + data.ID;
                window.open(url, '_blank');
            } else {

            }

        });
    </script>
    <script src="@Url.Content("~/Scripts/ts/tms/Program/Program.js")"></script>
}
