@using lr = Resources.Resources;
@{
    ViewBag.Title = lr.MenuCourse;
    Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
}

<script>

    function CourseTemplate(data) {
        if (data !== null) {
            var CourseTemplate = kendo.template(jQuery("#CourseTemplate").html(), { useWithBlock: false });
            return CourseTemplate(data);
        }
        return '';
    }
</script>
<h2>@lr.CourseTitle</h2>
@Html.AntiForgeryToken()
@(Html.Kendo().Grid<TMS.Library.TMS.Course>()
    .Name("CourseGrid")
    .Columns(columns =>
    {
        columns.Bound(e => e.PrimaryName).ClientTemplate("#=CourseTemplate(data)#");
        columns.Bound(e => e.AddedByAlias).ClientTemplate("#=addedbytemplate(data)#").Width(190).MinScreenWidth(550).Title(lr.GridAddedBy);
        columns.Bound(e => e.UpdatedByAlias).Width(170).Title(lr.ModifiedBy).
 ClientTemplate(@"<div class='gridupdated'> # if (UpdatedByAlias!=null) { #" + @"<span class='Addedby'>#=UpdatedByAlias# </span>
    <span class='date' >#=kendo.toString(UpdatedDate,'" + DateFormatScript + @"')#</span>
<span class='time' >#=kendo.toString(UpdatedDate,'" + TimeFormatScript + @"')#</span>
" + @"#} else {#<div>Not Modified</div> </div>#}#");
    }).Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("_CourseTemplate").DisplayDeleteConfirmation(false))

          .ToolBar(toolbar => toolbar.Template(@<text>@RenderAddTemplate()</text>))
     .Sortable().Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple))
     .Pageable(pager => pager.Refresh(true).Numeric(true).PreviousNext(true).PageSizes(true))
     .Scrollable()
     .Events(e => e.Edit("CourseGrid_onEdit").Save("General_onSave"))
     .HtmlAttributes(new { style = "height:700px !important;" })
     .DataSource(dataSource => dataSource.Ajax().ServerOperation(true).Model(model => { model.Id(m => m.ID); })
     .PageSize(5)
     .Read(read => read.Action("Course_Read", "Program").Data("withSearch"))
     .Create(read => read.Action("Course_Create", "Program").Data("courseAddtionalData"))
     .Destroy(read => read.Action("Course_Destroy", "Program"))
     .Update(read => read.Action("Course_Update", "Program").Data("courseAddtionalData"))
     .Events(e => e.Error("GeneralErrorHandler(\"CourseGrid\")").RequestEnd("GridRequestEndUpdate")))
     .NoRecords(lr.GridNoRecordFoundMessage)
)
@helper RenderAddTemplate()
{
    <div class="toolbar">
        @if (User.IsInRole("CanAddEditCourse"))
        {
            <a class="k-button tms-grid-add" title="" data-placement="left" data-toggle="tooltip" data-original-title="Tooltip on left">
                <span class="tms-grid-icon mdi mdi-plus "></span>
            </a>
            <a class="k-button tms-grid-edit"><span class="tms-grid-icon mdi mdi-pencil "></span></a>
        }
        @if (User.IsInRole("CanDeleteCourse"))
        {
            <a class="k-button tms-grid-destroy"><span class="tms-grid-icon mdi mdi-delete "></span></a>
        }
        @if (User.IsInRole("CanViewCourse"))
        {
            <a class="k-button tms-grid-detail-Course"><span class="tms-grid-icon mdi mdi-open-in-new "></span></a>
        }
        
    </div>
 
}
@{
    List<TMS.DDlList> enumCourseDurationType = TMS.Extensions.EnumToSelectList<TMS.Library.CourseDurationType>(typeof(TMS.Library.CourseDurationType)).ToList();
}



<script id="toolTipTemplate" type="text/x-kendo-template">

    @if (User.IsInRole("CanAddEditCourse"))
    {
       
        <span class="grid-tooltip-icon edit" dat-uid="#=uid#" title="Edit #=PrimaryName#"><i class="mdi mdi-pencil"></i></span>
    }
    @if (User.IsInRole("CanDeleteCourse"))
    {
        <span class="grid-tooltip-icon delete" dat-uid="#=uid#" title="Delete"><i class="mdi mdi-delete"></i></span>
    }
    @if (User.IsInRole("CanViewCourse"))
    {
        <span class="grid-tooltip-icon persondetail" dat-uid="#=ID#" title="See the detail of #=PrimaryName#"><i class="mdi mdi-open-in-new"></i></span>


    }
</script>

<script>
     jQuery(function () {
       // debugger;
        var template = kendo.template(jQuery("#toolTipTemplate").html());
        //initialize tooltip to grid tbody with filter cells with given CSS class
        var tooltip = jQuery("#CourseGrid tbody").kendoTooltip({
            position: "center",
            autoHide: false,
            filter: "td:nth-child(1)",
            showOn: "click",
            show: function (e) {
                //get current target row
                this.popup.element.addClass("tmstooltip");
                var currentRow = this.target().closest("tr");
                var grid = jQuery("#CourseGrid").data("kendoGrid");
                //get current row dataItem
                var dataItem = grid.dataItem(currentRow);

                //pass the dataItem to the template
                var generatedTemplate = template(dataItem);
                //set the generated template to the content of the tooltip
                this.content.html(generatedTemplate);
            },
        }).data("kendoTooltip");

        jQuery(".edit").live("mousedown", function (event) {
            //debugger;
            jQuery("#CourseGrid").data("kendoGrid").editRow(jQuery("[data-uid='" + jQuery(this).attr("dat-uid") + "']"));
        });

        jQuery(".delete").live("mousedown", function (event) {
            //debugger;
            grid = jQuery("#CourseGrid").data("kendoGrid");
            var selectedRows = jQuery("#CourseGrid tr.k-state-selected");
            var checkedLength = selectedRows.length;
            var checkedLength = selectedRows.length;
            if (checkedLength == 1) {
                var grid = jQuery("#CourseGrid").data("kendoGrid");
                var data = grid.dataItem(jQuery("[data-uid='" + jQuery(this).attr("dat-uid") + "']"));  //get the row data so it can be referred later

                swal({
                    title: '@lr.Areyousureyouwanttodeletethisrecord',
                    text: '@lr.Youwillnotbeabletorecover',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "@lr.confirmDelete",
                    cancelButtonText: "@lr.confirmNo",
                    closeOnConfirm: false,
                    closeOnCancel: true,
                    customClass: "tmsconfirm"
                },
                function (isConfirm) {
                    if (isConfirm) {
                        grid.removeRow(selectedRows);
                        swal({
                           title: '@lr.confirmDeleted',
                           text:  '@lr.confirmDeletedMessage',
                           type: "success"
                       },
                    function(){
                         window.location="@Url.Content("~/Program/Course")";
                        });
                   }
                });
            } else if (checkedLength > 1) {
                var grid = jQuery("#CourseGrid").data("kendoGrid");


                swal({
                    title: '@lr.Areyousureyouwanttodeletetheserecord',
                    text: '@lr.Youwillnotbeabletorecover' + ' <strong style="font-weight:bold">' + checkedLength + ' ' + '@lr.confirmRecords' + '</strong> ?',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "@lr.confirmDelete",
                    cancelButtonText: "@lr.confirmNo",
                    closeOnConfirm: false,
                    closeOnCancel: true,
                    html: true,
                    customClass: "tmsconfirm"
                },
              function (isConfirm) {
                  if (isConfirm) {
                      selectedRows.each(function () { grid.removeRow(jQuery(this)); });
                      swal({
                           title: '@lr.confirmDeleted',
                           text:  '@lr.confirmDeletedMessage',
                           type: "success"
                       },
                    function(){
                        window.location="@Url.Content("~/Program/Course")";
                        });
                   }
              });
            } else {

            }
        });



        //destroy from header
        jQuery(".tms-grid-destroyperson").live("mousedown", function (event) {
            var selectedRows = jQuery("#CourseGrid tr.k-state-selected");
            var checkedLength = selectedRows.length;
            var checkedLength = selectedRows.length;
            if (checkedLength == 1) {
                var grid = jQuery("#CourseGrid").data("kendoGrid");

                swal({
                    title: '@lr.Areyousureyouwanttodeletethisrecord',
                    text: '@lr.Youwillnotbeabletorecover',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "@lr.confirmDelete",
                    cancelButtonText: "@lr.confirmNo",
                    closeOnConfirm: false,
                    closeOnCancel: true,
                    customClass: "tmsconfirm"
                },
                function (isConfirm) {
                    if (isConfirm) {
                        grid.removeRow(selectedRows);
                        swal({
                           title: '@lr.confirmDeleted',
                           text:  '@lr.confirmDeletedMessage',
                           type: "success"
                       },
                    function(){
                        window.location="@Url.Content("~/Program/Course")";
                        });
                   }
                });
            } else if (checkedLength > 1) {
                var grid = jQuery("#CourseGrid").data("kendoGrid");

                swal({
                    title: '@lr.Areyousureyouwanttodeletetheserecord',
                    text: '@lr.Youwillnotbeabletorecover' + ' <strong style="font-weight:bold">' + checkedLength + ' ' + '@lr.confirmRecords' + '</strong> ?',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "@lr.confirmDelete",
                    cancelButtonText: "@lr.confirmNo",
                    closeOnConfirm: false,
                    closeOnCancel: true,
                    html: true,
                    customClass: "tmsconfirm"
                },
           function (isConfirm) {
               if (isConfirm) {
                   selectedRows.each(function () { grid.removeRow(jQuery(this)); });
                   swal({
                           title: '@lr.confirmDeleted',
                           text:  '@lr.confirmDeletedMessage',
                           type: "success"
                       },
                    function(){
                        window.location="@Url.Content("~/Program/Course")";
                    });
                   }
           });



            } else {

            }
        });


         jQuery(".persondetail").live("mousedown", function (event) {
             //debugger;
             var url = '@Url.Content("~/Program/CourseDetail?id=")' + jQuery(this).attr("dat-uid");
             window.open(url, '_blank');
         });

         jQuery(".tms-grid-detail").live("mousedown", function (event) {
             //debugger;
             var checkedLength = jQuery("#CourseGrid tr.k-state-selected").length;
             if (checkedLength == 1) {
                 grid = jQuery("#CourseGrid").data("kendoGrid");
                 var data = grid.dataItem(jQuery("#CourseGrid tr.k-state-selected"));
                 var url = '@Url.Content("~/Program/CourseDetail?id=")' + data.ID;
                 window.open(url, '_blank');
             } else {

             }

         });


    });
</script>








<script>
        var enumCourseDurationType=  @(Html.Raw(Json.Encode(enumCourseDurationType)));
</script>
    <script id="CourseTemplate" type="text/kendo">
        <div class=''>
            <div class=''>
                <p>
                    <span class="heading">
                        <b>
                            #:data.PrimaryName#
                        </b>
                    </span>
                </p>
                <p>
                    <label>
                        Code:
                    </label>
                    <span>
                        #:data.CourseCode#
                    </span>
                </p>
                <p>
                    <label>
                        Duration:
                    </label>
                    <span>
                        #:data.CourseDuration#    #:enumvalue(data.CourseDurationType,enumCourseDurationType)#
                    </span>
                </p>
                <p>
                    <label>
                        Course Fee:
                    </label>
                    <span>
                        #:data.CourseFee#
                    </span>
                </p>
                <p>
                    <label>
                        Minimum Attendance Required (%):
                    </label>
                    <span>
                        #:data.MinimumAttendanceRequirement#
                    </span>
                </p>
            </div>
        </div>
    </script>
@section Scripts
{

  
<script>

        jQuery(".tms-grid-detail-Course").live("mousedown", function (event) {
            var checkedLength = jQuery("#CourseGrid tr.k-state-selected").length;
            if (checkedLength == 1) {
                grid = jQuery("#CourseGrid").data("kendoGrid");
                var data = grid.dataItem(jQuery("#CourseGrid tr.k-state-selected"));
                var url = '@Url.Content("~/Program/CourseDetail?id=")' + data.ID;
                window.open(url, '_blank');
            } else {

            }
        });
</script>
    <script src="@Url.Content("~/Scripts/ts/tms/Program/Program.js")"></script>
}